.main-container {
    .inner-container {
        height: 100%;
        margin: 2em 5em;

        .main-heading {
            display: flex;
            justify-content: space-between;
        }

        
    }
}