.main-container {
    .inner-container {
        // width: 80%;
        height: 100%;
        margin: 2em 5em;

        .main-heading {
            display: flex;
            justify-content: space-between;
        }

        .img-container {
            overflow-x: scroll;
            scroll-behavior: smooth;
        }
        .img-container::-webkit-scrollbar {
            display: none;
        }

        .button-row {
            display: flex;

            .scrollableButtons {
                display: flex;
                width: 74%;
                
                .tag-list{
                    scroll-behavior: smooth;
                }

                .tag-list::-webkit-scrollbar {
                    overflow-y: hidden;
                    display: none;
                }
            }
        }
    }
}